html, body {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  font-family: sans-serif;
  background-color: white;
  color: navy;
  min-height: 100%;
  padding: 8px;
  font-size: 18px;
}

main {
  height: 100vh;
}
